public/css/wpcs-price-tracker-public-bkp.css
public/class-wpcs-price-tracker-public-bckup.php
public/class-wpcs-price-tracker-public-OLD-before-shortcode-approach.php
admin/class-wpcs-price-tracker-admin-bckup.php
